[Unit]
Description=Noba Web Dashboard
After=network.target

[Service]
Type=simple

ExecStart=/usr/bin/python3 %h/.local/libexec/noba/web/server.py
WorkingDirectory=%h/.local/libexec/noba/web

Environment=PYTHONUNBUFFERED=1
Environment=PORT=8080

Restart=always
RestartSec=5

ProtectHome=off
ProtectSystem=off
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=default.target
